<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Development</title>
</head>

<body>
    <div class="container">
        <section class="bgcolor">
            <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                    <li class="breadcrumb-item active" aria-current="page">Services</li>
                    <li class="breadcrumb-item"><a class="text-decoration-none">App Development</a></li>
                </ol>
            </nav>
            <div class="appDevelopment">
                <span class="app">{{app}} </span><br/>
                <span class="development">{{development}} </span>
            </div><br/>
            <div class="appDevelopmentPara">Application development is the process of creating a computer program or a set of programs to perform
                the
                different tasks that a business requires.</div>
            <div class="android"> <img src="../../assets/android-vs-ios1.png"></div><br/>
            <div class="row">
                <div class="col-6">
                    <div class="card" *ngFor="let item of items">
                        <div class="card-body">
                            <div class="imgitem">
                                <img src="{{item.img}}">
                            </div>
                            <div class="bodyContent">
                                <div class="card-text">{{item.content}}</div>
                            </div>
                            <div class="Readmore">{{item.ReadMore}}</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" *ngFor="let item of imgitems">
                        <div class="card-body">
                            <div class="imgitem">
                                <img src="{{item.img}}">
                            </div>
                            <div class="bodyContent">
                                <div class="card-text">{{item.content}}</div>
                            </div>
                            <div class="Readmore">{{item.ReadMore}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button"> <button class="getStartedWithUsButton">Get Started With Us</button></div><br/>
        </section>
        <div class="specilities">
            <span class="Specilities-">SPECILITIES -</span>
        </div><br/>
        <div class="OurLatestFeatures">
            <span class="our">{{'Our'}} </span>
            <span class="latest">{{'Latest'}}</span>
            <span class="features">{{'Features'}}</span>
        </div><br/>
        <div class="nextgeneration">Ariqt International is a next generation IT services company with a mission to help its clients implement
            complex technologies with ease to remain competitive.</div>
        <br/>
        <div>
            <div>
                <div class="Custome"><img src="assets/code 1.png"><span class="customDevelopment margin-start">Custom Development</span></div><br><br>
                <div class="CustomTheRad">The RAD (Rapid Application Development) model follows an incremental approach. You can
                    simultaneously
                    develop the individual modules of the application to enable faster delivery of the final product.
                </div>
                <hr/>
            </div><br/>
            <div>
                <div class="code" ><img src="assets/code 2.png"><span class="RapidApplicationDevelopment margin-start">Rapid Application
                    Development</span></div><br/>
                <div class="CustomTheRad">The RAD (Rapid Application Development) model follows an incremental approach. You can
                    simultaneously
                    develop the individual modules of the application to enable faster delivery of the final product.
                </div>
            </div><br/>
            <br/>
        </div>
        <div class="button"> <button class="Knowmore">Know More</button></div><br/>
        <div class="DidntFindYourSolutions">
            <span class="didnt">{{"Didn't"}}</span>
            <span class="find">{{'Find'}}</span>
            <span class="your">{{'Your'}}</span>
            <span class="solutions">{{'Solutions?'}}</span>
        </div><br/>
        <div class="Discuss">Discuss your mobile app requirements with our team & get the finest fit for your business</div><br>
        <div class="button"> <button class="Getstarted">Get Started</button></div><br/>
        <div class="OurAppDevelopmentProcess">
            <span class="our">{{'Our'}}</span>
            <span class="app">{{'App'}}</span>
            <span class="development">{{'Development'}}</span>
            <span class="process">{{'Process'}}</span>
        </div><br/>
        <div class="Tobuild">To build an application, you need a step-by-step process that can help you build mobile apps quickly. There
            are three important steps:</div><br/>
        <div><br/>
            <span class="step-one">STEP 01</span>
            <div class="Understand">
               <hr />
            </div>
            <span class="understandtherequirement">Understand the requirement</span><br/><br/>
            <div class="steps">To build an application, you need a step-by-step process that can help you build mobile apps quickly.
                There
                are three important steps:</div>
        </div>
        <div><br/>
            <span class="STEP02">STEP 02</span>
            <div class="Develop">
                <hr />
            </div>
            <span class="Developtheproject">Develop The Project</span><br/><br/>
            <div class="steps">To build an application, you need a step-by-step process that can help you build mobile apps quickly.
                There
                are three important steps:</div>
        </div><br/>
        <div>
            <span class="STEP03">STEP 03</span>
            <div class="Testing">
                <hr />
            </div>
            <span class="testingdelivering">Testing&Delivering</span><br/><br/>
            <div class="steps">To build an application, you need a step-by-step process that can help you build mobile apps quickly.
                There
                are three important steps:</div>
        </div><br/>
        <div class="button"> <button class="Develope"><span class="Button">Develope Your App</span></button>
        </div><br/>
        <!-- section 1  -->
        <section><br />
            <div class="container bgimageContainer">
                <div class="specilities">
                    <span class="specilities-">SPECILITIES -</span>
                </div>
                <div class="WhyChoseUs">
                    <span class="why">{{'Why'}}</span>
                    <span class="chose">{{'Choose'}}</span>
                    <span class="us">{{'Us?'}}</span>
                </div><br/>
                <div class="Discussyourmobileapp">
                    Discuss your mobile app requirements
                    with our team & get the finest fit for your business
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <div class="card bg-img ">
                            <div class="card-body">
                                <img class="specilitiesIcons" src="assets/salary 1.png">
                                <div class="card-title mt-3">Free Cost-Analysis</div>
                            </div>
                            </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <div class="card bg-img ">
                            <div class="card-body">
                                <img class="specilitiesIcons" src="assets/team-leader 1.png">
                                <div class="card-title  mt-3">Beautiful Apps</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <div class="card bg-img ">
                            <div class="card-body">
                                <img class="specilitiesIcons" src="assets/booking 1.png">
                                <div class="card-title mt-3">Easy-to-Use-Apps</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <div class="card bg-img ">
                            <div class="card-body">
                                <img class="specilitiesIcons" src="assets/stars 1.png">
                                <div class="card-title mt-3">Superior Quality</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <div class="card bg-img ">
                            <div class="card-body">
                                <img class="specilitiesIcons" src="assets/tap 1.png">
                                <div class="card-title mt-3">Super Skilled Developers</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <div class="card bg-img ">
                            <div class="card-body">
                                <img class="specilitiesIcons" src="assets/best-price 1.png">
                                <div class="card-title mt-3">Superior Quality</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <div class="card bg-img ">
                            <div class="card-body">
                                <img class="specilitiesIcons" src="assets/smartphone 1.png">
                                <div class="card-title mt-3">Hand-Holding Approach</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-4 col-lg-3 mt-3">
                        <div class="card bg-img ">
                            <div class="card-body">
                                <img class="specilitiesIcons" src="assets/customer-service 1.png">
                                <div class="card-title customerSupport">24*7 Customer Support</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- section 1  End-->
        <div class="GetInTouch">
            <span class="get">{{'Get'}}</span>
            <span class="in">{{'In'}}</span>
            <span class="touch">{{'Touch'}}</span>
        </div>
        <div class="Lorem">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled...</div>
    </div>
</body>
</html>