// Font Family
$poppins : 'Poppins',
sans-serif;

// colors
$skyBlue : #0D99FF;
$purpal : #4154F1;
$darkblue: #01276D;
$dark-orange : #EE6908;
$blueColorShades : #E3E7EE;
$Black70Percent : #4C4C4C;
$blackShades80 : #323232;
$text-black : #1E1E1E;
$partially-black : #282828;
$blackShades : #1A1A1A;
$blackShades100 : #000000;
$pink-primary : #D13FC6;
$blueColorShades: #1B3D7C;

// box shadow
$ellipse-box-shadow : "0px 27px 33px rgba(0, 0, 0, 0.12)";

// font sizes
$font-size-8px : 8px;
$font-size-10px : 10px;
$font-size-12px : 12px;
$font-size-14px : 14px;
$font-size-16px : 16px;
$font-size-20px : 20px;
$font-size-22px : 22px;
$font-size-24  : 24px;
$font-size-28px : 28px;
$font-size-32px : 32px;
$font-size-44   : 44px;

// font-style
$font-style-2: 20;

//font weights
$font-weight-300 : 300;
$font-weight-400 : 400;
$font-weight-500 : 500;
$font-weight-600 : 600;
$font-weight-700 : 700;

//line height
$line-height-18 : 18px;
$line-height-36: 36px;

// padding
$padding-10 : 10px;

// padding-top
$padding-top-10 : 10px;
$padding-top-20 : 20px;
$padding-top-30 : 30px;

// padding-bottom
$padding-bottom-10 : 10px;
$padding-bottom-20 : 20px;
$padding-bottom-30 : 30px;

// auto
$height-auto : auto;
$width-auto : auto;

// border-radius
$border-radius-8 : 8px;